@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ERPExportSales.Web.Models
@model ExportSalesModel
@*<ul class="breadcrumb">
        <li><a href="/Home/Index">Home</a></li>
        <li class="active">Order</li>
    </ul>*@
<!-- Content Header (Page header) -->
<div class="row">
    <section class="content-header">
        @*<h1>
                Top Navigation
                <small>Example 2.0</small>
            </h1>*@
        <ol class="breadcrumb" style="padding-right:150px">
            <li><a href="/Home/Index">Home</a></li>
            <li class="active">Order</li>
        </ol>
    </section>
    <section class="content" style="padding-left:200px;padding-right:150px">
        <form role="form" ng-app="myApp" ng-controller="formCtrl" class="form-horizontal" style="margin-top: 20px;"
              name="myForm" novalidate>
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#settings" data-toggle="tab" aria-expanded="true">Search</a></li>
                        <li class=""><a href="#activity" data-toggle="tab" aria-expanded="false">Information</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="settings">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Orders</h3>
                                        </div>
                                        <div class="box-body box-profile">
                                            <div class="box">
                                                @*<div class="box-header">
                                                        <h3 class="box-title">数据信息</h3>
                                                    </div>*@
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                        <div class="row">
                                                            <div class="col-md-12" id="">
                                                                <div class="pull-left form-inline">
                                                                    @using (Ajax.BeginForm("QueryOrder", "Home",
new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "searchResult",
    OnBegin = "$('#divOrders').fadeOut('slow')",
    OnComplete = "$('#divOrders').fadeIn('slow')",
    LoadingElementId = "loadingDiv",
    InsertionMode = InsertionMode.Replace,
}))
                                                                    {
                                                                        <p>
                                                                            @if (Model != null && Model.UserModel != null)
                                                                            {
                                                                                if (Model.UserModel.UserType.Equals("1"))
                                                                                {
                                                                                    <label>Customer</label>@Html.TextBoxFor(p => p.QueryModel.Customer, "", new { @class = "form-control" });
                                                                                }
                                                                                else
                                                                                {
                                                                                    Model.QueryModel.Customer = "";
                                                                                }
                                                                            }
                                                                            <label>
                                                                                PO No. @Html.TextBoxFor(p => p.QueryModel.PONo, "", new { @class = "form-control" })
                                                                            </label>
                                                                            <label>
                                                                                SC No. @Html.TextBoxFor(p => p.QueryModel.SCNo, "", new { @class = "form-control" })
                                                                            </label>
                                                                            <label>
                                                                                Invoice No.
                                                                            </label> @Html.TextBoxFor(p => p.QueryModel.InvoiceNo, "", new { @class = "form-control" })

                                                                            <button type="submit" class="btn btn-primary">Search</button>
                                                                        </p>
                                                                        @*@Ajax.ActionLink("Previous", "OrderQuery", "Home", new { QueryModel =Model.QueryModel,InvoiceNo=Model.QueryModel.InvoiceNo ,IsBtnQuery = true }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-primary" })*@



                                                                    }


                                                                </div>
                                                                <div id="loadingDiv" style="display:none" class="form-inline">
                                                                    <img src="@Url.Content("~/Content/img/loading.gif")" /><h3>Loading...</h3>
                                                                </div>
                                                                @{Html.RenderAction("OrderQuery");}


                                                                @*@Html.Pager(Model.OrderList, new PagerOptions
                                                                    {
                                                                        PageIndexParameterName = "pageNum",
                                                                        ContainerTagName = "ul",
                                                                        FirstPageText = "First",
                                                                        PrevPageText = "Previous",
                                                                        NextPageText = "Next",
                                                                        LastPageText = "Last",
                                                                        CssClass = "pagination",
                                                                        CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                                                                        DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                                                                        PagerItemTemplate = "<li>{0}</li>"
                                                                    })*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                    <!-- /.box - body-->
                                </div>
                            </div>
                        </div>
                        <!-- /.tab - pane-->
                        <div class="tab-pane" id="activity">
                            <div class="row">
                                <div class="col-md-6">
                                    <!--USDCNY -->
                                    @Html.Partial("USDCNY")
                                    <!-- /.box -->
                                    <!--Freight -->
                                    @{Html.RenderAction("Freight");}
                                    <!-- /.box -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <!--Q195-->
                                    @Html.Partial("Q195")
                                    <!-- /.nav-tabs-custom -->
                                    <!--PublicHoliday-->
                                    @{Html.RenderAction("PublicHoliday");}
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab - pane-->

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->

        </form>
    </section>
</div>
@section Scripts{
    <!--{Html.RegisterMvcPagerScriptResource();}-->
    @Scripts.Render("~/bundles/home")
    <script type="text/javascript">
        Date.prototype.Format = function (fmt) { //author: meizz 
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        $(document).ready(function () {
            // $("#sinaFrame").attr("src", "http://gu.sina.cn/fx/hq/quotes.php?code=USDCNY");
            //$("#rbFrame").attr("src", "http://gu.sina.cn/ft/hq/nf.php?symbol=RB0");
            initIndex(@Model.UserModel.UserType);
            setInterval(function () {
                var now = (new Date().Format("MM/dd/yyyy hh:mm:ss")).toLocaleString();
                $('#current-time').text(now);
            }, 1000);
        })
    </script>
}


