@model IList<ERPExportSales.Web.Models.OrderViewModel>
<div id="divOrders">
    <div class="pull-right">
        @Ajax.ActionLink("Previous", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum - 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Next", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum + 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
    </div>

    <table id="tbOrders" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
        <thead>
            <tr role="row">
                <th style="width:300px">Customer</th>
                <th style="width:100px">PO No.</th>
                <th>Sc No.</th>
                <th>Amount</th>
                <th>ETD</th>
                <th>Progess</th>  
                <th>Sales</th>
                <th>Making</th>
                <th>Weight (kg)</th>
                <th>Invoice No.</th>
                <th>Packing List</th>
                <th>BL Copy</th>
                <th>Quality Report</th>
            </tr>

        </thead>
        <tbody id="tbOrdersBody">
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td>@item.Customer</td>
                    <td>@item.PONo</td>
                    <td>@Html.ActionLink(item.SCNo, "PDF", "Files", new { file = item.SCNoHref }, new { target = "_blank" })</td>
                    <td>@item.Amount</td>
                    <td>@item.ETD</td>
                    <td style="min-width:120px">

                        <div class="progress progress-xs progress-striped active">
                            @if (item.Progress < 50 && item.Progress >= 30)
                            {
                                <div class="progress-bar progress-bar-warning" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress < 30)
                            {
                                <div class="progress-bar progress-bar-danger" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress >= 50 && item.Progress < 80)
                            {
                                <div class="progress-bar progress-bar-primary" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress >= 80)
                            {
                                <div class="progress-bar progress-bar-success" style="width: @item.Progress%"></div>
                            }
                        </div>
                        @item.Progress%
                    </td>
                 
                    <td>@item.Sales</td>
                    <td>@item.Maker</td>
                    <td>@item.Weight</td>
                    <td>@Html.ActionLink(item.InvoiceNo, "PDF", "Files", new { file = item.InvoiceHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.PackingList, "PDF", "Files", new { file = item.PackingHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.BLCopy, "PDF", "Files", new { file = item.BLNoHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.QualityReport, "PDF", "Files", new { file = item.QRHref }, new { target = "_blank" })</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right">
        @Ajax.ActionLink("Previous", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum - 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Next", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum + 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
    </div>
</div>
