@using ERPExportSales.Web.Models
@model ExportSalesModel
<div id="divOrders">
    <div class="pull-right">
        @Ajax.ActionLink("Previous", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum - 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Next", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum + 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
    </div>

    <table id="tbOrders" class="table table-border table-bordered table-bg table-hover table-sort" style="table-layout: fixed;" role="grid">
        <thead>
            <tr role="row">
                <th class="col-xs-2">Customer</th>
                <th class="col-xs-1">PO No.</th>
                <th class="col-xs-1">Sc No.</th>
                <th class="col-xs-1">Amount</th>
                <th class="col-xs-1">ETD</th>
                <th class="col-xs-1">Progess</th>  
                <th class="col-xs-1">Weight (kg)</th>
                <th class="col-xs-1">Invoice No.</th>
                <th class="col-xs-1">Packing List</th>
                <th class="col-xs-1">BL Copy</th>
                <th class="col-xs-1">Quality Report</th>
            </tr>

        </thead>
        <tbody id="tbOrdersBody">
            @foreach (var item in Model.OrderList)
            {
                <tr role="row">
                    <td style="word-wrap:break-word;word-break:break-all;">@item.Customer</td>
                    <td style="word-wrap:break-word;word-break:break-all;">@item.PONo</td>
                    <td>@Html.ActionLink(item.SCNo, "PDF", "Files", new { file = item.SCNoHref }, new { target = "_blank" })</td>
                    <td>@item.Amount</td>
                    <td>@item.ETD</td>
                    <td>

                        <div class="progress progress-xs progress-striped active">
                            @if (item.Progress < 50 && item.Progress >= 30)
                            {
                                <div class="progress-bar progress-bar-warning" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress < 30)
                            {
                                <div class="progress-bar progress-bar-danger" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress >= 50 && item.Progress < 80)
                            {
                                <div class="progress-bar progress-bar-primary" style="width: @item.Progress%"></div>
                            }
                            else if (item.Progress >= 80)
                            {
                                <div class="progress-bar progress-bar-success" style="width: @item.Progress%"></div>
                            }
                        </div>
                        @item.Progress%
                    </td>
                    <td>@item.Weight</td>
                    <td>@Html.ActionLink(item.InvoiceNo, "PDF", "Files", new { file = item.InvoiceHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.PackingList, "PDF", "Files", new { file = item.PackingHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.BLCopy, "PDF", "Files", new { file = item.BLNoHref }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(item.QualityReport, "PDF", "Files", new { file = item.QRHref }, new { target = "_blank" })</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right">
        @Ajax.ActionLink("Previous", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum - 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Next", "OrderQuery", "Home", new { pageNum = ViewBag.PageNum + 1, IsBtnQuery = false }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divOrders", OnBegin = "$('#divOrders').fadeOut('slow')", OnComplete = "$('#divOrders').fadeIn('slow')", LoadingElementId = "loadingDiv" }, new { @class = "btn btn-default" })
    </div>
</div>
